security:
    encoders:
        FOS\UserBundle\Model\UserInterface: sha512

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: [ROLE_USER, ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

    providers:
        imain:
            entity:
                class: Work\MainSiteBundle\Entity\User
                property: username

    firewalls:
       secured_area:
            pattern:   ^/
            anonymous: ~
            form_login:
                login_path: work_main_site_login
                check_path: work_main_site_login_check