{% extends '@WorkMainSite/Partials/layout-base.html.twig' %}

{% block title %}WorkMainSiteBundle:User:login{% endblock %}

{% block body %}
<div class="page-header">
  <h1>Create your profile <small>user login page</small></h1>
</div>

{{ form(form) }}
{% endblock %}