{% extends '@WorkMainSite/Partials/layout-base.html.twig' %}
{% block body %}
	<header>{{ include('@WorkMainSite/Partials/header.html.twig') }}</header>
	<main>
		{% block content %}{% endblock %}
	</main>
	<footer>{{ include('@WorkMainSite/Partials/footer.html.twig') }}</footer>
{% endblock %}